<form novalidate [formGroup]="form">
	<div class="input-group mb-3">
		<div class="custom-file">
			<label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i> Choose file</label>
			<input type="file" class="custom-file-input" multiple formControlName="importFile" id="importFile" (change)="onFileChange($event.target.files)">
		</div>
	</div>
	<div class="form-group">
		<button class="btn btn-primary btn-sm" type="button" (click)="upload()" [disabled]="!selectedFiles"><i class="fas fa-file-import"></i> Upload</button>
	</div>
</form>
<div *ngIf="showProgressBar" class="progress">
	<div class="progress-bar progress-bar-info progress-bar-striped"
		role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
		aria-valuemin="0" aria-valuemax="100"
		[ngStyle]="{width:progress.percentage+'%'}">
		{{progress.percentage}}%</div>
</div>
