<table class="table table-striped table-bordered table-hover table-sm">
  <thead>
    <tr>
        <!-- <th *ngFor="let column of fileUploads">
            <span [innerHTML]="column.name"></span>
        </th> -->
      <th>Name</th>
      <!-- <th>Uploaded Date</th> -->
      <th>Size</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody align="center">
    <tr *ngFor="let file of fileUploads">
      <td class="files">
        <a href="{{file.downloadURL}}">{{file.fullPath}}</a>
      </td>
      <!-- <td>
        {{ file.uploadedDate  }}
      </td> -->
      <td>
        {{file.totalBytes / 1000 | number }} <span>Kb</span>
      </td>
      <td>
        <input class="btn btn-primary btn-sm" type="button" value="Delete" (click)='deleteFile(file)'/>
      </td>
    </tr>
  </tbody>
</table>



<!-- <div class="panel panel-primary">
  <div class="panel-heading">List of Files</div>
  <div *ngFor="let file of fileUploads">
    <div class="panel-body">
      <details-upload [fileUpload]='file'></details-upload>
    </div>
  </div>
</div> -->
