<!-- Main router outlet -->

<!-- <app-main-navigation [showNav]="showMainNavigation"> -->
<app-main-navigation>
    <!-- Main router outlet -->
  <router-outlet></router-outlet>
</app-main-navigation>

<!-- <app-main-navigation></app-main-navigation> -->

<!-- <app-provider-form>  </app-provider-form>
<policy-list></policy-list> -->

<!-- <div class="row">
    <div class="col-md-5">
        <app-student-form></app-student-form>
    </div>
    <div class="col-md-7">
        <app-student-list></app-student-list>
    </div>
</div> -->
