/* .app main, .app footer {
  padding-left: 1rem;
}
*/

/* .nav .a .span {
  color:white!important;
}  */

.push-right {
  justify-content: flex-end;
}

.footer {
  background: black;
  padding: 2em;
} 
