<div class="app">
  <nav class="navbar navbar-light navbar-fixed-top navbar-expand-lg bg-faded" *ngIf="showMainNavigation">
    <a class="navbar-brand" routerLink="/">
      <h4>myPlace Book Keeper</h4>
    </a>

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler navbar-toggler-right" type="button" 
        (click)="isMenuCollapsed = !isMenuCollapsed"
        [attr.aria-expanded]="!isMenuCollapsed" aria-controls="navbarContent" 
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse push-right">
      <ul class="navbar-nav">
        <!-- Step 4: Close the menu when a link is clicked. -->
        <li class="nav-item active">
          <a class="nav-link" routerLink="/payment" (click)="isMenuCollapsed = true">
            <i class="fas fa-money-check-alt mr-1"></i>Payments
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/provider" (click)="isMenuCollapsed = true">
            <i class="fas fa-people-carry mr-1"></i>Providers
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="signOut()">
            <i class="fas fa-user mr-1"></i>Sign out
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>

  <div class="footer" *ngIf="showMainNavigation">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center text-white">&copy; 2020 - Ilson Biscuola</p>
        </div>
      </div>
    </div>
  </div>
</div>