<div class="container verify-email-form">
  <form>
    <h2 class="text-center">Thank You for Registering</h2>
    <div class="formGroup" *ngIf="user">
      <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
      <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <button type="button" class="btn btn-primary btn-block" (click)="sendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>
      <div class="text-center">Go back to  
        <a href="#" routerLink="/sign-in">Sign in</a>
      </div>
      <input type="hidden" class="hide" name="token" id="token" value=""> 
    </div>
  </form>
</div>


<!-- <div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Thank You for Registering</h3>

      <div class="formGroup" *ngIf="user">
        <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
      </div>

      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="sendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>

    </div>

    <div class="text-center">Go back to  
      <a href="#" routerLink="/sign-in">Sign in</a>
    </div>

  </div>
</div> -->
