<div class="container passwordreset-form">
  <form autocomplete="off" [formGroup]="form">
    <h3><i class="fa fa-lock fa-4x"></i></h3>
    <h2 class="text-center">Forgot Password?</h2>
    <p>You can reset your password here.</p>
    <div class="panel-body">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email" required>
        </div>
      </div>
      <div class="form-group">
        <input name="recover-submit" class="btn btn-primary login-btn btn-block" value="Reset Password" type="button" (click)="recoverPassword()">
      </div>
      <div class="text-center">Go back to  
        <a href="#" routerLink="/sign-in">Sign in</a>
      </div>
      <input type="hidden" class="hide" name="token" id="token" value=""> 
    </div>
  </form>
</div>
