<form [formGroup]="form">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="abn">ABN</label>
      <input type="text" formControlName="abn" class="form-control" id="abn">
    </div>
    <div class="form-group col-md-6">
      <label for="name">Provider Name</label>
      <input type="text" formControlName="name" class="form-control" id="name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <input class="btn btn-success btn-sm" type="button" value="Save" (click)="onSubmit()">
      <input class="btn btn-primary btn-sm" type="button" value="New Provider" (click)="addProvider()">
    </div>
  </div>
  <div class="error" *ngIf="message">
    <h5 class="text-success">{{ message }}</h5>
  </div>
</form>



<!-- <form class="example-form" [formGroup]="form">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Provider Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="abn" placeholder="ABN">
              <mat-hint align="end">You can find the ABN number in the Tax invoice</mat-hint>
              <mat-error *ngIf="checkValidTouched('abn')">ABN is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="name" placeholder="Provider Name">
              <mat-hint align="end">Please enter Provider's name</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a color="primary" mat-raised-button (click)="onSubmit()">
        <mat-icon>done</mat-icon>
        <span>&nbsp;Save</span>
      </a>
      <a color="primary" mat-raised-button (click)="addProvider()">
        <mat-icon>done</mat-icon>
        <span>&nbsp;New Provider</span>
      </a>
    </mat-card-actions>
  </mat-card>
  <div class="error" *ngIf="message">
    <h5 class="text-success">{{ message }}</h5>
    </div>
</form> -->

<app-provider-list></app-provider-list>

<app-form-debug [form]="form"></app-form-debug>
